@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    background: rgb(198, 232, 227);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: rgb(214, 207, 207);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    color: blue;
  }
  
  a:visited {
    color: rgb(214, 207, 207);
  }

.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.slide {
    height: 80vh;
    border-radius: 20px;
    margin: 5px;
    background-color: beige;
    border: 1px solid black;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}

.card {
    position: absolute;
    padding: 10px 40px;
    margin: 0;
    border-radius: 20px;
    top: 5%;
    right: 5%;
    opacity: 0;
    text-align: right;
}

.bg-gray {
    background: #86898f;
}

.slide h2 {
    font-size: 30px;
    margin: 0;
    opacity: 0;
}

.slide h3 {
    background-color: #858991 ;
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 24px;
    box-sizing: content-box;
    margin: 0;
    opacity: 1;
    writing-mode: vertical-lr;
}

.slide.active {
    flex: 10;
}

.slide.active .card {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.slide.active h2 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.slide.active h3 {
    position: absolute;
    background-color: #858991 ;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 1;
    writing-mode: horizontal-tb;
    transition: opacity 0.3s ease-in 0.4s;
}